.cottage-gallery-header-wrapper {
    background: var(--primary-background-color);
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cottage-gallery-header .h1 {
    font-family: var(--primary-font);
    font-size: 40px;
    color: white;
}
.cottage-gallery-offer {
    font-family: var(--primary-font);
    font-size: 2rem;
    color: white;
}
.cottage-gallery-work-link {
    font-family: var(--primary-font);
    font-size: 24px;
    color: white;
}
.cottage-gallery-image-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.cottage-gallery-image-row {
    display: flex;
    width: 75vw; 
    gap: 2rem; 
}
.cottage-gallery-image-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    flex: 1;
    gap: 2rem;
}
.cottage-gallery-image-column img {
    max-width: 100%; 
    max-height: 50vh; 
    flex-grow: 1; 
    object-fit: cover;
}

