.cottages-carousel{
    display: flex;
    padding: 100px 0px;
    flex-direction: column;
}
.cottages-carousel__carousel{
    position: relative;
}
.cottage-carousel__highlighted-text{
    color: var(--brand-color)
}
@media(min-width: 320px){
    .cottages-carousel__title{

    }
}
.cottages-carousel__title{
 
}
.cottage-carousel__cottage-description{
 
}
.cottage-carousel__cottage-img{
    width: 100%;
    height:auto;
}
.cottage-carousel__house-img{
    width: 20px;
    height: 24px;
}
.cottage-carousel__cottage-description{
}
.cottage-carousel__clock-img{
    width: 20px;
    height: 24px;
}
.cottage-carousel__dollar-img{
    width: 20px;
    height: 24px;
}
