.schedule {
    font-weight: 550;
    font-size: 20px;
    background: url(../img/schedule/cottages-schedule.png) no-repeat center center fixed;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 522px;
    text-align: center;
    margin-top: 40px;
}

.schedule__text{
    color: var(--accent-dark-text-color);
}

.green__schedule {
    color: var(--accent-button-lightgreen-color);
}

.schedule__header {
    font-size: 45px;
    white-space: nowrap;
}

.footer__logo {
    height: 60px;
    width: 300px;
}

.schedule__button {
    background-color: var(--accent-button-lightgreen-color);
    border: none;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
}

.schedule__button:hover {
    background-color: var(--accent-light-color);
    color: var(--primary-background-color);
}