.schedule {
    display: grid;
    justify-content: center;
    text-align: center;
    color: var(--accent-light-color);
}

.green__schedule {
    color: var(--brand-color);
}

.schedule__header {
    white-space: nowrap;
}

.footer__logo {
    height: 60px;
    width: 300px;
}

.schedule__button {
    background-color: var(--accent-button-black-color);
    color: var(--brand-color);
    border: none;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;

}

.schedule__button:hover {
    background-color: var(--accent-light-color);
    color: var(--primary-background-color);
}