body {
    margin: 0;
    padding: 0;
    background: var(--primary-background-color);
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 16rem;
    color: white;
}
span {
    color:  var(--accent-title-lightgreen-color);
}