.services {
    background-color: var(--primary-background-color);
    padding: 20px;
}

.srvices__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.services__experience {
    background-color: rgba(255, 255, 255, 0.02);
    font-size: 17px;
    margin: 20px auto;
    padding: 10px;
    display: inline-flex;
    float: 1;
    min-width: 272px;
}

.services__experience-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.services__icon {
    min-width: 70px;
    max-width: 120px;
    width: 100%;
    min-height: 70px;
    max-height: 120px;
    height: auto;
    margin-right: 10px;
}

.services__icon-text {
    margin: 0;
}

.services__experience-info {
    display: block;
    white-space: pre-line;
    line-height: 1.5;
    padding: 10px;
    max-width: 300px;
    margin: 10px 0;
}

.services__description {
    flex: 2;
    max-width: 800px;
}

.services__description-accent-text {
    color: var(--brand-color);
    font-weight: bold;
}

.services__description-text {
    font-size: 17px;
    color: var(--primary-text-color);
    margin: 0 0 10px 0;
}

.services__description-text:last-child {
    margin: 0;
}

.services__consalting-overlay {
    background-image: url(../img/services/stairs.png);
    width: 250px;
    height: 320px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.consalting__link {
    color: var(--primary-text-color);
    font-family: var(--accen-font);
    font-size: 14px;
    font-weight: bold;
}

.services__consalting-overlay:hover {
    content: '';
    opacity: 0.5;
    transition: opacity 0.3s ease;
    z-index: -1;
}

/*
@media (min-width: 768px) {
    .srvices__content {
        flex-direction: row;
        align-items: flex-start;
    }

    .services__experience .services__description {
        flex: 1;
    }

    .services__description {
        margin-left: 20px;
    }
}*/