@media (min-width: 720px) {
    .blog__items{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .blog__header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 990px) {
    .blog__items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.blog__header{
    padding: 70px 30px 40px;
}

.blog__header-header {
    font-size: 36px;
    line-height: 1.5;
    padding: 10px;
}

.blog__header-header-color{
    color: var(--brand-color);
}

.blog__header-text {
    font-size: 19px;
    color: var(--accent-dark-color);
    padding: 10px;
}

.blog__items{
    padding: 0px 24px;
}

.blog__item{
    margin: 15px;
}

.blog__item-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.blog__item:first-child{
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/blog/blog-item-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 260px 15px 0px 15px;
}

.blog__item-hashtag{
    padding: 20px 0px;
    font-size: 14px;
    color: var(--brand-color);
    text-transform: uppercase;
}

.blog__item-title{
    font-size: 22px;
}

.blog__item-text{
    color: var(--primary-text-color);
}

.blog__item-time{
    font-size: 14px;
    padding: 20px 0px;
}

.blog__item-button {
    color: var(--accent-dark-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.blog__item-button-arrow{
    width: 24px;
}

.blog__item-button:hover {
    text-decoration: underline;
}