* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #393c42;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    ;
}

header {
    --accent-light-color: #ffffff;
    --accent-dark-color: #bababa;
    --brand-color: #cee002;
    --primary-text-color: #848484;
    --accent-font: Poppins, sans-serif;
    --primary-font: Roboto, sans-serif;
    --primary-background-color: #23262d;
}