* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #393c42;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    ;
}

:root {
    --accent-light-color: #ffffff;
    --accent-dark-color: #bababa;
    --primary-text-color: #848484;
    --brand-color: #cee002;
    --accent-font: Poppins, sans-serif;
    --primary-font: Roboto, sans-serif;
    --primary-background-color: #23262d;
    --accent-backgound-color: #272a31;
}

tage-team__open-vacancies-color {
    color: #cee002
}

.cottage-team__title-color {
    color: #cee002
}

.cottage-team__name {
    color: #cee002
}

.cottage-team__name {
    color: #cee002
}

.cottage-team__name {
    color: #cee002
}