* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-light-color: #ffffff;
    --accent-dark-color: #bababa;
    --primary-text-color: #848484;
    --brand-color: #cee002;
    --accent-font: Poppins, sans-serif;
    --primary-font: Roboto, sans-serif;
    --primary-background-color: #23262d;
    --accent-backgound-color: #272a31;
    --consultation-background-color: #2a2d34;
    --phone-button-background-color: #32353c;
    --phone-button-text-color: #23262d;
    --icon-background-color: #2e3137;
    --accent-title-lightgreen-color: #cee002;
    --accent-dark-text-color: #848484;
    --primary-dark-item-color: #272a31;
    --accent-number-lightgreen-color: #cee002;
    --accent-button-lightgreen-color: #cee002;
    --accent-button-black-color: #020202;
}

body {
    background: var(--primary-background-color);
    color: var(--accent-light-color);
    font-family: var(--primary-font);
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}