.header {
    position: relative;
    z-index: 1;
    font-weight: bold;
    background-color: var(--primary-background-color);

    a {
        text-decoration: none;
        color: var(--accent-dark-color);
    }
}

.header__nav {
    padding: 25px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 100%;
    align-items: center;
    padding: 0 20px;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__logo-img {
    max-width: 210px;
    min-width: 209px;
    cursor: pointer;
}

.header__nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header__nav-link,
.header__contact-text,
.header__contact-link {
    color: var(--accent-dark-color);
}

.header__nav-link:hover,
.header__contact-link:hover {
    color: var(--accent-light-color);
}

.header__contact {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    margin-left: auto;
}

.header__contact-text {
    color: var(--brand-color);
}

.header__contact-link {
    cursor: pointer;
}

.header__call-text {
    margin: 20px;
    padding: 20px;
    color: var(--primary-background-color);
}