.header {
    position: relative;
    z-index: 1;
    font-weight: bold;
    padding: 20px;
    background-color: var(--primary-background-color);

    img {
        display: block;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: var(--accent-dark-color);
    }
}

.header__logo-img {
    max-width: 210px;
    min-width: 209px;
}

.header__contact-text {
    color: var(--brand-color);
}

.header__nav-link:hove {
    color: var(--accent-light-color);
}