.construction-info__container {
    max-width: 1200px;
    margin: auto;
}

.construction-info__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 30px 40px;
}

.title__main {
    font-size: 36px;
    max-width: 555px;
    padding-right: 50px;
    color: var(--accent-main-light-color);
}

.title__main-text{
    display: flex;
    max-width: 555px;
    padding: 5px;
}

.title__sub {
    font-size: 36px;
    color: var(--accent-title-lightgreen-color);
}

.title__image {
    display: block;
    width: 70px; /* Adjust as necessary */
    height: auto; /* Maintains aspect ratio */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

/* Styles for main info section */
.info {
    text-align: center;
    margin-bottom: 20px;
}

.info__heading {
    font-size: 24px;
}

/* Styles for construction steps */
.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.step-item {
    margin: 15px;
    padding: 15px;
    background-color: var(--primary-dark-item-color);
}

.steps__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.step-item__step-text {
    font-weight: bold;
    font-size: 17px;
}

.step-item__step-description {
    color: var(--accent-dark-text-color);
    margin-bottom: 20px;
}

.step-item__step-number {
    color: var(--accent-number-lightgreen-color);
}

.construction-info_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__image-button {
    color: var(--accent-button-lightgreen-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.title__image-title {
    margin: 7.5px;
}