.construction-info__container {
    max-width: 1200px;
    margin: auto;
}

.construction-info__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 30px 40px;
}

.title__main {
    font-size: 36px;
    max-width: 555px;
    padding-right: 50px;
    color: white;
}

.title__main-text{
    display: flex;
    max-width: 555px;
}

.title__sub {
    font-size: 36px;
    color: rgb(206, 224, 2);
}

.title__image {
    display: block;
    width: auto; /* Adjust as necessary */
    height: 100px; /* Maintains aspect ratio */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for main info section */
.info {
    text-align: center;
    margin-bottom: 20px;
}

.info__heading {
    font-size: 24px;
}

/* Styles for construction steps */
.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.step-item {
    margin: 15px;
    padding: 15px;
    background-color: #272a31;
}

.steps__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.step-item__step-text {
    font-weight: bold;
    font-size: 17px;
}

.step-item__step-description {
    color: #848484;
    margin-bottom: 20px;
}

.step-item__step-number {
    color: rgb(206, 224, 2);
}

.construction-info_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}