.main__container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--primary-background-color);
}
  @media(min-width: 320px){
    .main__container{
      display: flex;
    }
    .main__text-description{
      flex-direction: column;
      flex-wrap: wrap;
    }
    .video-description__img{
     min-height: 350px;
    }
}
  @media(min-width: 768px){
    .main__text-description{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
  .video-description__img{
    min-height: 525px;
   }
}
  @media(min-width: 1024px){
  .video-description__img{
    min-height: 680px;
   }
  }
.main__text-description {
  display: grid;
  vertical-align: baseline;
  justify-content: left;
  gap: 20px;
  padding:  70px 60px 80px;
}
.main__title{
  font-weight: 500;
  font-stretch: 100%;
}
.main__section_first{
  margin-top: 50px;
  padding: 0px 15px;
}
.main__section_second{
  margin-top: 50px;
  padding: 0px 15px;
}
.main__section-number{
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 700;
  color: var(--brand-color)
}
.main__section-text{
  font-size: 14px;
  font-weight: 700;
  font-stretch: 100%;
}
.main__section-paragraph-description{
  font-size: 17px;
  font-weight: 400;
  font-stretch: 100%;
  color : var(--primary-text-color);
}
.video-description__img{
  background-image: url(../img/header/main/cottage-img.png);
  background-size: cover;
}
/* .video-description__player-img{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 400px;
} */